@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto&family=Russo+One&display=swap');

/*
font-family: 'Alfa Slab One', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Russo One', sans-serif;
*/
.btn-outline-warning{
	border-width: 2px;
	font-weight: 300;
	font-family: 'Roboto Slab', serif;
	
	
}

.btn-warning{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;

}

body{
	font-weight: 400;
    max-width: 100% !important;
    max-height: 100%;
    overflow-x: hidden; 
	color: #ffffff;
}

section{
	min-height: 100vh;
}

h1, h2{
	text-transform: capitalize;
	color: #fff;
	font-weight: 500;
	font-size: 2.0em;
	font-family: 'Russo One', sans-serif;
}
h3, h4{
	font-weight: 500;
	font-size: 1.7em;
	text-transform: capitalize;
	word-spacing: .2em;
	font-family: 'Russo One', sans-serif;
	
}

p{
	font-weight: 300;
	font-size: 0.85em;
	line-height: 1.5;
	letter-spacing: 1px;
	color: #dee2e6;
	font-family: 'Roboto Slab', serif;
}



/* navbar button group */
nav .btn-group {
	margin: 0.8rem 2rem 0 0;
}

 

section#intro-header{
	background: linear-gradient(90deg, rgba(08, 08, 08,  0.7), rgba(08, 08, 08,  0.7)), url("../images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
	min-height: 100vh;
	width: 100%;
}
section#intro-header #headline{
	margin-top: 22%;
	margin-bottom: 20%;
	padding: 10px;
	color: #fff;
	font-weight: 700;
	font-size: 1.7em;
}

section#intro-header h1{
	font-weight: 500;
	color: #fff;
} 
section#intro-header h2 {
    color: #dee2e6;
    font-size: 4.5rem;
	font-weight: 900;
	
}

section#intro-header p{
	color: gold;
	font-weight: 500;
}

section#intro-header a{
	text-decoration: none;
	color: inherit;
}

.scroll-down{
	position: relative;
	bottom: 8em;
/*	left: 50%;*/
/*	transform: translateX(-50%);*/
	display: flex;
	flex-direction: column;
	align-items: center;
	widows: auto;
	height: auto;
	

}


.mouse{
	width: 2.5rem;
	height: 5rem;
	border: 2px solid white;
	border-radius: 2rem;
	margin-bottom: .5rem;
	display: flex;
}

.mouse span{
	width: 1rem;
	height: 1rem;
	background: #fff;
	display: block;
	border-radius: 50%;
	margin: auto;
	animation: move-wheel 1s linear infinite;
}

.arrow span{
	display: block;
	width: 1rem;
	height: 1rem;
	border: 2px solid transparent;
	border-right-color: #fff;
	border-bottom-color: #fff;
	transform: rotate(45deg);
	animation: arrow-down 0.5s alternate infinite;
	
}



/* the about section */
section#about{
	background: #1B1B1B;
	padding: 25vh 0;
	width: 100%;
/*	min-height: 100vh;*/
		
}

section#about img{
	margin-top: 3em;
	margin-bottom: 3em;
	
}

section#about h3{
	margin-top: 4.5em;
}


/*CSS for contact form ON THE BODY*/

#contacts{
	position: relative;
	padding: 4em 0;
	background: rgba(08, 08, 08, 0.8);
	min-height: 100vh;
}

#contacts:before{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	width: 50%;
	height:100%;
	
}

#contacts  .social_contact{
	background: linear-gradient(90deg, rgba(08, 08, 08,  0.7), rgba(08, 08, 08,  0.7)), url("../images/../images/icon-set-1142000_1280.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
	z-index: 5;
}

#contacts form{
	padding: 20px;
	
}

.form-group{
	position: relative;
}

.form-control {
	height: 50px;
	font-size: 20px;
	border: none;
	border-bottom: 1px solid #dee2e6;
	background: transparent !important;
	border-radius: 0;
	color: #dee2e6;	
	margin-bottom: 25px;
}

.form-control:focus{
	box-shadow: none;
	border-bottom: 2px solid gold;
	transition: All .5s;
	color: #fff;
}

.form-group label{
	position: absolute;
	top: 0;
	font-size: 1.2em;
	transition: top .5s;	
	
}


.form-control:focus + label,
.form-control:valid + label{
	top: -20px;
	font-size: 0.8em;
	background: transparent !important;
	color: gold;
}

.form-control:focus,
.form-control:valid{
	border: none;
	border-bottom: 2px solid gold;
	background: transparent !important;
}

/**Removing chrome auto fill**/
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out;
	-webkit-text-fill-color: #fff !important;
}



/* **Csss style rules for the skills section ** */

#skills{
	background: #434343;
	padding: 4em 0;
	overflow: hidden;
}
.skill{
	padding: 0.5em;
	background: #434343;
	border-radius: 20px 10px;
	box-shadow:  -6px -6px 20px rgba(08, 08, 08, 0.5), inset  6px 6px 20px rgba(67, 67, 67, 0.5);
	position: relative;
	z-index: 2;
/*	overflow-x: hidden;*/
	
	
	
	
}

/*
.skill:before{
	content: "";
	position: absolute;
	border-radius: 20px 10px;
	top:0;
	left: calc(-98%);
	width: 100%;
	height: 100%;
	transition: left 0.5s, opacity 0.5s;
	opacity: 0.7;
	z-index: -1;
	background-color: #1b1b1b;
	
}
*/

/*
.skill:hover::before{
	content: "";
	position: absolute;
	border-radius: 20px 10px;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: -1;
	background-color: #1b1b1b;
	
}
*/

/*
.skill:after{
	content: "";
	position: absolute;
	border-radius: 20px 10px;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: top 0.3s;
	opacity: 0.8;
	z-index: 1;
	background-color: #1b1b1b;
	
}
*/



#skills h1{
	padding: 0.7em 0;
}

#skills h2{
	text-align: center;
	margin-top: 0.4em;
	color: #fff;
}


#skills ul{
	margin-left: -20px;
	font-weight: 100;
	list-style: none;
	list-style-position: inside;
}

#skills ul li{
	text-align: left;
	overflow: hidden;
}



#skills ul li span{
	display: block;
	color: #dee2e6;
}

#skills  .icofont-data, #skills .icofont-code, #skills .icofont-tools-alt-2 {
	padding: 15px;
	color: #fff;
	background: #080808;
	border: 5px solid #535353;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	transition: transform .2s, border .5s;
	z-index: 5;
}

#skills  .icofont-data:hover, #skills .icofont-code:hover, #skills .icofont-tools-alt-2:hover {
	color: #fff;
	background: #080808;
	border: 5px solid rgba(255, 215, 0, 0.7);
	border-radius: 0;
	transform: rotate(45deg);
}



.icon-align{
	text-align: center;
	margin-top: -50px;
}

#skills ul .icofont{
	color: #ffdf00;
	float: left;
	padding:0.44em 0;
}

#skills nav{
	padding: .2em 0 2em 0;
}


.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link {
    color: #4d4b46;
    background-color: #dee2e6;
    width: 50%;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-tabs .nav-link{
	color: gold;
	width: 50%;
	padding: 8px;
    font-size: 16px;
    font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #535353;
	
}


#projects{
	background: #434343;
	padding: 4em 0;
}

#projects h1{
	padding: 0.5em 0;
}

#projects  .card{
	overflow: hidden;
	border-radius: 20px;
	margin: 1em;
	border: none;
	background: none;
	height: 95%;
/*	box-shadow:  -6px -6px 20px rgba(08, 08, 08, 0.5), inset  6px 6px 20px rgba(67, 67, 67, 0.5);*/
}


#projects  .card-header{
	color: #1b1b1b;
    background-color: #dee2e6;
	text-transform: capitalize;
	font-size: 1.2em;
	
}

#projects .card-body{
	background-color: #fff;
}

#projects  .card-text{
	color: #343434;
}

#projects .card-footer{
	background-color: #535353;
}

#projects .card-footer > span{
	display: inline-block;
	width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	background: transparent;
	color: gold;
}

.nav-pills .nav-link{
	color: #dee2e6;
    font-size: 16px;
    font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	
}


@media(max-width: 48em){
	nav .btn-group {
		position: absolute;
		top: 0;
		right: 3em; 

	}
section#intro-header #headline{
	margin: 4em auto 8em auto !important;
	}
	/* the about section */
	section#about{
		background: #1B1B1B;
		padding: 17vh 0;
		width: 100%;

	}

	section#about h3{
		margin-top: 0;
	}
}




@keyframes move-wheel{
	0%{
		opacity: 0;
		transform: translateY(-1rem);
	}
	50%{
		background: yellow;
	}
	100%{
		opacity: 1;
		transform: translateY(1rem);	
	}
}


@keyframes arrow-down{
	0%{
		opacity: 0;
	}
	25%{
		opacity: .5;
	}
	50%{
		opacity: .75;
	}
	100%{
		opacity: 1;
	}
}

