@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Cardo|Oswald&display=swap');

body{
	font-weight: 400;
    max-width: 100% !important;
    max-height: 100%;
    overflow-x: hidden; 
	color: #ffffff;
}

h1, h2{
	text-transform: capitalize;
	color: gold;
	font-weight: 500;
	font-size: 2.0em;
	font-family: 'berlin sans fb', 'berlin sans fb demi';
}
h3, h4{
	font-weight: 500;
	font-size: 1.7em;
	text-transform: capitalize;
	font-family: 'berlin sans fb', 'berlin sans fb demi';
	word-spacing: .2em;
}

p{
	font-weight: 300;
	font-size: 1em;
	line-height: 1.5;
	letter-spacing: 1px;
	color: #ffffff;
	font-family: "apercu",sans-serif;
}

hr{
	border: 2px solid grey;
}

#name{
	font-weight: 900;
	font-size: 1.2em;
	color: ghostwhite;
	background: -webkit-linear-gradient(right, gold 30%, goldenrod, darkgoldenrod);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'broadway';
	
}
#name:hover{
	background: -webkit-linear-gradient(right, gold 10%, goldenrod 10%, seagreen 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* navbar button group */
nav .btn-group {
	margin: 0.8rem 2rem 0 0;
}

@media(max-width: 48em){
	nav .btn-group {
		position: absolute;
		top: 0;
		right: 3em; 
}


section#intro-header #headline{
	margin: 4em auto 8em auto !important;
	
	
	} 

       
}

section#intro-header{
	background: linear-gradient(90deg, rgba(08, 08, 08,  0.8), rgba(08, 08, 08,  0.8)), url("../images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	height: 100vh;
	widows: 100vh;
}
section#intro-header #headline{
	margin-top: 18%;
	margin-bottom: 20%;
	padding: 10px;
	color: #fff;
	font-weight: 700;
	font-size: 1.7em;
}

section#intro-header h1{
	font-weight: 700;
	color: #fff;
} 
section#intro-header h2 {
    color: #dee2e6;
    font-size: 4rem;
	font-weight: 900;
	
}

section#intro-header p{
	color: gold;
	font-weight: 700;
}

.scroll-down{
	position: relative;
	bottom: 8em;
/*	left: 50%;*/
/*	transform: translateX(-50%);*/
	display: flex;
	flex-direction: column;
	align-items: center;
	widows: auto;
	height: auto;
	

}


.mouse{
	width: 2.5rem;
	height: 5rem;
	border: 2px solid white;
	border-radius: 2rem;
	margin-bottom: .5rem;
	display: flex;
}

.mouse span{
	width: 1rem;
	height: 1rem;
	background: #fff;
	display: block;
	border-radius: 50%;
	margin: auto;
	animation: move-wheel 1s linear infinite;
}

.arrow span{
	display: block;
	width: 1rem;
	height: 1rem;
	border: 2px solid transparent;
	border-right-color: #fff;
	border-bottom-color: #fff;
	transform: rotate(45deg);
	animation: arrow-down 0.5s alternate infinite;
	
}



/* the mainpage about section */
section#about{
	background: #1B1B1B;
	padding-top: 2rem;
}

section#about img{
	margin-top: 2rem;
	margin-bottom: 3rem;
	
}

section#about h3{
	margin-top: 3rem;
}


/*CSS for contact form ON THE BODY*/


section#contactMe{
        margin-top: 3.5em;
	padding-bottom: 3rem;
	font-weight:500;
}

section#contactMe h1{
	font-weight:600;
	text-align: center;
	text-transform: uppercase;
	
}

section#contactMe label.control-label{
	color: seagreen;
	font-weight: 900;
}

.control-override {

    display: block;
    height: 50px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #5E5B5B;
	background-color: transparent;
	background-image: none;
	border-bottom: 1px thick #686767;
	-webkit-box-shadow: 0 2px 7px rgba(128,128,120,1); 
	box-shadow: 0 5px 2px 10px green;
	border-radius: 10px;	


}

.textarea-override{
	border: 2px solid #686767;
}

.btn-override{
	padding: 10px;
}
.btn-override input{
	margin: 0 10px 5px 10px;
	box-shadow: -3px 4px 4px grey;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
} 


/* **Csss style rules for the skills section ** */

#skill{
	background: #434343;
}
.skills{
	padding: 0.5em;
	background: #434343;
	border-radius: 20px 10px;
	box-shadow:  -6px -6px 20px rgba(08, 08, 08, 0.5), inset  6px 6px 20px rgba(67, 67, 67, 0.5);
	
}



#skill h1{
	padding: 0.7em 0;
}

#skill h2{
	text-align: center;
	margin-top: 0.4em;
	color: #dee2e6;
}


#skill ul{
	margin-left: -20px;
	font-weight: 300;
	list-style: none;
	list-style-position: inside;
}

#skill ul li{
	text-align: left;
	overflow: hidden;
	padding-bottom: 2px 0;
}



#skill ul li span{
	display: block;
	color: #dee2e6;
}

#skill  .icofont-data, .icofont-code, .icofont-tools-alt-2 {
	padding: 15px;
	color: gold;
	background: #080808;
	border: 5px solid #535353;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
}

.icon-align{
	text-align: center;
	margin-top: -50px;
}

#skill ul .icofont{
	color: #ffdf00;
	float: left;
	padding:0.44em 0;
}

#skill nav{
	padding: .2em 0 2em 0;
}


.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link {
    color: #4d4b46;
    background-color: #dee2e6;
    width: 50%;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-tabs .nav-link{
	color: gold;
	width: 50%;
	padding: 8px;
    font-size: 16px;
    font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #535353;
	
}



#projects  .card-header{
	color: #434343;
    background-color: #dee2e6;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 1.2em;
	
}

#projects .card-body{
	background-color: #fff;
}

#projects  .card-text{
	color: #434343;
}

#projects .card-footer{
	background-color: #434343;
}

#projects .card-footer > span{
	display: inline-block;
	width: 100%;
}


@media (min-width: 34em){
	
}




@keyframes move-wheel{
	0%{
		opacity: 0;
		transform: translateY(-1rem);
	}
	50%{
		background: yellow;
	}
	100%{
		opacity: 1;
		transform: translateY(1rem);	
	}
}


@keyframes arrow-down{
	0%{
		opacity: 0;
	}
	25%{
		opacity: .5;
	}
	50%{
		opacity: .75;
	}
	100%{
		opacity: 1;
	}
}

