@charset "utf-8";
/* CSS Document */


/*
**** 
****  Michael portfolio navbar css
****
*/

.navbar-brand img{
	min-height: 40px;
	height: 100% !important;
	margin: 0px;
}



/** Adding the required styling by overriding  bootstrap default **/
.navbar-expand-lg{
	background: #1B1B1B;
	text-transform: uppercase;
	font-weight: bold;
	font-family: lucida sans, 'Arial';
	padding: 0px  !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
	color: #F9EBEC;
	font-size: 0.75em;
	padding-top:15px !important;
}



.navbar-expand-lg .navbar-nav > .active > a{
	background-color: transparent;
	color: #fff;
	border-bottom: 0.8em solid #F9EBEC;
}


.navbar-expand-lg .navbar-nav > .active > a:hover,
.navbar-expand-lg .navbar-nav > li > a:hover{
	background-color: transparent;
	color: darkgrey;
	border-bottom: 0.8em solid gold;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: border-radius .2s ease-in-out,;
}


/** setting up the badge css **/
.navbar-nav .badge {
	color: #000;
	background-color: gold;
	font-size: 0.8em;
	padding: 3px;
	position: relative;
	left: 0.57rem;
	bottom: 0.56rem;
	z-index: 99;
	border-radius: 50%;
	font-weight: 500;

}


/*Removing borders for extra small devices */
@media(max-width:34em){
	.navbar-expand-lg .navbar-nav > .active > a {
		border-bottom: none;
		border-left: 0.5em solid #FFF;
		padding-left: 0.5em;
		}

	.navbar-expand-lg .navbar-nav > .active > a:hover,
	.navbar-expand-lg .navbar-nav > li > a:hover{
		background-color: transparent;
		color:#f3f3f3;
		border-bottom: none;
		border-left: 0.5em solid gold;
	}
}

.navbar span.icofont{
	display: inline-block;
	color: #434343;
	font-size:17px;
	
}
