@charset "utf-8";
/* CSS Document */


/*
**** 
****  ukeje portfolio navbar css
****
*/

.navbar-brand img{
	min-height: 40px;
	height: 100% !important;
	margin: 0px;
}



/** Adding the required styling by overriding  bootstrap default **/
.navbar-expand-lg{
	background: #1B1B1B;
	text-transform: uppercase;
	font-weight: bold;
	font-family: lucida sans, 'Arial';
	padding: 0px  !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
	color: #F9EBEC;
	font-size: 0.75em;
	padding-top:15px !important;
}



.navbar-expand-lg .navbar-nav > .active > a{
	background-color: transparent;
	color: #fff;
	border-bottom: 0.8em solid #F9EBEC;
}


.navbar-expand-lg .navbar-nav > .active > a:hover,
.navbar-expand-lg .navbar-nav > li > a:hover{
	background-color: transparent;
	color: darkgrey;
	border-bottom: 0.8em solid gold;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: border-radius .2s ease-in-out,;
}


/** setting up the badge css **/
.navbar-nav .badge {
	color: goldenrod;
	background-color: #FFF;
	font-size: 0.7em;
	padding: 0.27rem 0.55rem 0.2rem 0.4rem;
	position: absolute;
	left: 0.37rem;
	top: 0.7rem;
	z-index: 99;
	border: 0.2rem solid #2F92CA;
}


/*Removing borders for extra small devices */
@media(max-width:34em){
	.navbar-expand-lg .navbar-nav > .active > a {
		border-bottom: none;
		border-left: 0.5em solid #FFF;
		padding-left: 0.5em;
		}

	.navbar-expand-lg .navbar-nav > .active > a:hover,
	.navbar-expand-lg .navbar-nav > li > a:hover{
		background-color: transparent;
		color:#f3f3f3;
		border-bottom: none;
		border-left: 0.5em solid gold;
	}
}

.navbar span.icofont{
	display: inline-block;
	color: darkgray;
	font-size:17px;
	
}