@charset "utf-8";
/* CSS Document */

section#port-images{
	margin-top: 5em;
	text-align: center;
}

section#port-images img{
	display: block;
	min-height: 300px;
	max-height: 300px;
	text-align: center;
	min-width: 230px;
	max-width: 230px;
	padding: 2px;
	box-shadow: 0 5px 5px 2px grey;
	border: 50px thick black;
}

.adjust-img{
	text-align: center;
}

figure{
	display: block;
	margin-bottom: 15px;
	text-align: center;
	max-width: 250px;
}


/* ANIMATIONS CSS */

.hanimated{
	display: none; 
	position: absolute;
	left:24px;
	width: 230px;
	height: 300px;
	padding-top: 100px;
	color: #f3f3f3;
	background-color: rgba(0,0,0,0.73);
}

.hanimated h1{
	font-size: 16px;
	color: seagreen;
	text-transform: uppercase;
	
}
.hanimated p{
	color: white;
}


.parent:hover .hanimated{
	display: block;
	cursor:crosshair;
}




@media(max-width: 48em){
	section#port-images img{
		min-height: 120px;
		max-height: 120px;
		min-width: 100px;
		max-width: 100px;
	}
	.hanimated{
		height: 120px;
		width: 100px;
		padding-top: 10px;
	}

}






